Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
config/
configure
!contrib/spoa_example/Makefile
decode-data
spoa-mirror
stamp-h1
version.h
.deps
.dirstamp
.source-md5sums
*.lzma
*.o
*.orig
*.rej
_*
